
#main{
    width: 100%;
    height: 700px;
    background-color:aliceblue;
    
}
#main1{
    background-color: cadetblue ;
    

}
#main2{
    background-color:chartreuse ;
    
    
}
#main3{
    background-color:darkmagenta;
  
    
}